<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correcteur d'exercice</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1 class="fs-2">Projet GenEx</h1>
        <h2 class="fs-4">Correcteur d'exercices</h1>
    </div>
    
    <nav>
        <div class="container-fluid p-2 bg-primary text-center text-white fs-4">
            <span class="mb-3 mt-3">
                <a href="{{ url_for('televerser') }}" class="text-white">Correcteur d'exercices</a>
            </span>
            |
            <span class="mb-3 mt-3">
                <a href="{{ url_for('index') }}" class="text-white">Générateur d'exercices</a>
            </span>
        </div>
    </nav>

    
    <form action="{{ url_for('corriger') }}" enctype="multipart/form-data" method="post" class="pt-5 text-center">
        <div>
            <label for="exercice">Téléverser un sujet d'exercices</label><br>
            <input type="file" id="exercice" name="exercice" accept=".docx" required>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Corriger les exercices</button>
    </form>
</body>
    