<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Générateur d'exercice</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1 class="fs-2">Projet GenEx</h1>
        <h2 class="fs-4">Correcteur d'exercices</h1>
    </div>

    <nav>
        <div class="container-fluid p-2 bg-primary text-center text-white fs-4">
            <span class="mb-3 mt-3">
                <a href="{{ url_for('televerser') }}" class="text-white">Correcteur d'exercices</a>
            </span>
            |
            <span class="mb-3 mt-3">
                <a href="{{ url_for('index') }}" class="text-white">Générateur d'exercices</a>
            </span>
        </div>
    </nav>
    <div class="text-center">
        <h1 class="fs-2">Sujet d'exercice généré</h1>
    </div>
    <div class="w-75  mx-auto">
        <p>
            {%if exercices %}
                {{ exercices_formates | safe }}
                <form action="{{ url_for('telecharger') }}" method="post">
                    <input type="hidden" name="exercices" value="{{ exercices }}">
                    <input type="hidden" name="matiere" value="{{ matiere }}">
                    <input type="hidden" name="niveau" value="{{ niveau }}">
                    <button type="submit">
                        Télécharger l'exercice en format .docx
                    </button>
                </form>
            {% else %}
                    <p>Il y a eu un problème lors de la génération de l'exercice.</p>
            {% endif %}
        </p>
    </div>
</body>
